.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin: 10px;
    justify-content: space-between;
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.container h3 {
    margin: 20px 0px;
}

.container img {
    max-width: 50%;
    margin: 0 auto;
}